version: '3.9'

services:
  database:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=sunshine
      - POSTGRES_USER=kurtsuki

  adminer:
    image: adminer
    ports:
      - 8080:8080

  web:
    build: .
    environment:
      - POSTGRES_PASSWORD=sunshine
      - POSTGRES_USER=kurtsuki
    ports:
      - 1234:1234
    depends_on:
      - database
